<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./stylesheets/style2.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />
    <title>Document</title>
</head>
<body id="back2">
    <br>
    <br>
    <h2 style="color:white">Welcome To Recipe</h2>
    <br>
    <img id="image2" src="https://www.kindpng.com/picc/m/192-1925162_login-icon-png-transparent-png.png" alt="login icon">
    <br>
    <form id="sign" action="/home" onsubmit="return save()">
        <h3>Enter signup details</h3>
        
        <br>
        <br>
        <input id="uname1" type="text" placeholder="username">
        <input id="pass1" type="password" placeholder="password">
        <br>
        <br>
        <button id="enter1" type="submit" style="color:white">submit</button>
    </form>
    <script src="./javascripts/script.js"></script>
</body>
</html>