#header{
    white-space: nowrap;
    height:10cm;
    background-color: white;
}
.child1{
    display:inline-block;
    position:relative;
    left:100px;
}
.child2{
    display:inline-block;
    position:relative;
    left:750px;
    
}
.child3{
    display:inline-block;
    position:relative;
    left:800px;
}
.child4{
    display:inline-block;
    position:relative;
    left:850px;
}
.child5{
    display:inline-block;
    position:relative;
    left:900px;
}